{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<div align="center"  width="100%">
    <font size="5">Bienvenue au centre d'économie de l'environnement</font>
</div>

<br>
<br>
<p>L’expérience à laquelle vous allez participer est destinée à l’étude de la prise de décision.
    Nous vous demandons de lire attentivement les instructions, elles doivent vous permettre de bien comprendre l’expérience.
    Lorsque tous les participants auront lu des instructions un expérimentateur procédera à une relecture à voix haute.
    Toutes vos décisions seront traitées de façon anonyme.
    Vous indiquerez vos choix à l’ordinateur devant lequel vous êtes assis(e).
    A partir de maintenant nous vous demandons de ne plus parler.
    Si vous avez une question levez la main et un expérimentateur viendra vous répondre en privé.</p>
<p>Votre gain à cette expérience vous sera versé en liquide à la fin de l’expérience.
    L’expérience comporte trois parties. Durant ces parties vos gains seront comptabilisés en ECU.
    A la ﬁn de l’expérience, l’ordinateur cumulera vos gains de chaque partie avec un taux de conversion de 0.1.
    Cela signifie que 10 ECU représentent 1 euro.</p>

<br>
<div>
    <button class="btn btn-primary btn-large">Instructions lues</button>
</div>


{% endblock %}