{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Partie 3
{% endblock %}

{% block content %}

<p> Pour cette troisième et dernière partie, vous devez remplir un questionnaire.
    Le questionnaire est totalement anonyme, nous vous remercions donc d'y répondre sincèrement. <br>
    Pour valider le questionnaire, vous devez répondre à l'ensemble de ses questions.<br>
    Cette partie vous permet d'obtenir 1 euro supplémentaire qui s'ajoutera à vos gains.</p>

<p>Suite au questionnaire vous obtiendrez le récapitulatif de vos gains.</p>

<p> Cliquez sur le bouton Suivant pour commencer la partie 3 de l'expérience. </p>

<br>
     <button class="btn btn-primary btn-large">
        Suivant
    </button>

{% endblock %}